<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on Codiker at <a href="http://codiker.com">Codiker (Ruby on Rails)</a>.
	To get help on this sample app, see the <a href="http://google.com">Google site</a>.
</p>